body{
    background-color: rgb(157, 167, 153);
} 

h1{
    text-align: center;
    margin: 0px auto;
}

img{
    float: right;
    width: 300px;
    height: 300px;
    border: solid 2px #ffffff; /* White border for better visibility */
    margin-right: 75px;
}

#ul_nav{
    list-style-type: none;
    margin-right: 0px;
}

#ul_nav li a{
    float: left;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: #2f2f2f; /* A lighter shade of gray */
    color: #ffffff; /* White text */
    border: 1px solid #ffffff; /* White border */
}

#ul_nav li a:hover{
    border-color: #ffd700; /* Gold border on hover for a pop of color */
    background-color: #404040; /* Even lighter gray for hover */
    color: #ffd700; /* Gold text color on hover */
}
