body{
    background-color: black;
} 

h1{
    text-align: center;
    margin: 0px auto; 
}

img{
    float: right;
    width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-right: 75px;
}

#ul_nav{
    list-style-type: none;
    margin-right: 0px;
}

#ul_nav li a{
    float: left;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: rgb(127, 126, 126);
    border: 1px solid black;
}

#ul_nav li a:hover{
    border: 1px solid black ;
    border-color: white;
    background-color: rgb(78, 78, 78);
    color: white;
}
